<ion-modal-view class="settings-modal">

  <ion-header-bar class="bar bar-header">
    <div class="buttons">
      <button type="button" class="button button-icon" ng-click="configModal.hide()">
        <i class="icon ion-ios-close-outline"></i>
      </button>
    </div>

    <h1 class="title">Configuration</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list">

      <div class="item item-divider">
        Reader Configuration
      </div>

      <label class="item item-icon-left item-input item-select">
        <i class="icon ion-pinpoint"></i>
        <div class="input-label">
          Default Scan
        </div>
        <select ng-model="config.defaultScan">
          <option value="1">Single</option>
          <option value="2">Multiple</option>
          <option value="3">Geiger</option>
        </select>
      </label>

      <label class="item item-icon-left item-input item-select">
        <i class="icon ion-ios-settings-strong"></i>
        <div class="input-label">
          Default Mode
        </div>
        <select ng-model="config.defaultMode">
          <option value="1">Barcode</option>
          <option value="2">RFID</option>
          <option value="3">Both</option>
        </select>
      </label>

      <label class="item item-icon-left item-input item-select">
        <i class="icon ion-ios-bolt"></i>
        <div class="input-label">
          Power Mode
        </div>
        <select ng-model="config.powerMode">
          <option value="%">Percentage</option>
          <option value="db">Decibels</option>
        </select>
      </label>


      <label class="item item-toggle item-icon-left">
        <i class="icon ion-volume-medium"></i>
        Sound
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="config.ReaderSoundEnabled">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
      <label class="item item-toggle item-icon-left">
        <i class="icon ion-radio-waves"></i>
        Vibration
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="config.ReaderVibrateEnabled">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>

      <div class="item item-divider">
        Geiger Power
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-bolt"></i>
        <input type="range" name="readerGeigerPower" ng-model="config.ReaderGeigerPower"
               step="1" min="0" max="100">
        <i class="icon">
          {{config.ReaderGeigerPower}} %
        </i>
      </div>

      <div class="item item-divider">
        Single Power
      </div>
      <div class="item range range-positive" ng-show="config.powerMode === '%'">
        <i class="icon ion-ios-bolt"></i>
        <input type="range" name="readerSinglePower" ng-model="config.ReaderSinglePower"
               step="1" min="0" max="100">
        <i class="icon">
          {{config.ReaderSinglePower}} %
        </i>
      </div>

      <div class="item range range-positive" ng-show="config.powerMode === 'db'">
        <i class="icon ion-ios-bolt"></i>
        <input type="range" name="singlePowerDB" ng-model="config.singlePowerDB"
               step="1" min="10" max="29">
        <i class="icon">
          {{config.singlePowerDB}} dB
        </i>
      </div>

      <div class="item item-divider">
        Multiple Power
      </div>
      <div class="item range range-positive" ng-show="config.powerMode === '%'">
        <i class="icon ion-ios-bolt"></i>
        <input type="range" name="multiplePower" ng-model="config.ReaderMultiplePower"
               step="1" min="0" max="100">
        <i class="icon">
          {{config.ReaderMultiplePower}} %
        </i>
      </div>

      <div class="item range range-positive" ng-show="config.powerMode === 'db'">
        <i class="icon ion-ios-bolt"></i>
        <input type="range" name="multiplePowerDB" ng-model="config.multiplePowerDB"
               step="1" min="10" max="29">
        <i class="icon">
          {{config.multiplePowerDB}} dB
        </i>
      </div>

    </div>
  </ion-content>

</ion-modal-view>
