<ion-view view-title="RFID Utility">

  <ion-nav-buttons side="left">
    <button type="button" class="button button-icon button-clear" ng-click="clearLog()">
      <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button type="button" class="button button-icon button-clear" ng-click="configModal.show()">
      <i class="icon ion-ios-gear-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list">

      <label class="item item-icon-left item-input item-select">
        <i class="icon ion-code"></i>
        <div class="input-label">
          Command
        </div>
        <select ng-options="command as command.name for command in commands track by command.code"
                ng-model="selected.command"></select>
      </label>
      <label class="item item-icon-left item-input item-select"
             ng-show="devices.length && selected.command.code === 200">
        <i class="icon ion-ios-barcode-outline"></i>
        <div class="input-label">
          Reader
        </div>
        <select ng-options="device as device.serialNumber for device in devices track by device.serialNumber"
                ng-model="selected.device"></select>
      </label>

    </div>

    <div class="padding">
      <json-formatter json="log" open="5"></json-formatter>
    </div>

  </ion-content>

  <ion-footer-bar>
    <button type="button" class="button button-positive button-block" ng-disabled="!selected.command"
            ng-click="runCommand()">
      Execute Command
    </button>
  </ion-footer-bar>

</ion-view>
