<ion-modal-view class="settings-modal">

  <ion-header-bar class="bar bar-header">
    <div class="buttons">
      <button type="button" class="button button-icon" ng-click="clearTags()">
        <i class="icon ion-ios-close-outline"></i>
      </button>
    </div>

    <h1 class="title">Tags Read</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list">

      <div class="item item-icon-left" ng-repeat="tag in tags">
        <i class="icon ion-ios-pricetag-outline"></i>
        <h2 ng-bind="tag"></h2>
      </div>

    </div>
  </ion-content>

</ion-modal-view>
